<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DevDb" connectionString="server=USWA-RPADB;database=UK_Quotations;uid=rpadbdev;password=W@tts2019!@;" />
    <add name="DBCustQuote" connectionString="server=USWA-RPADB;database=UK_Customer_Quote;uid=rpadbdev;password=W@tts2019!@;" />
    <add name="DBQuote" connectionString="server=USWA-RPADB;database=UK_Quotations;uid=rpadbdev;password=W@tts2019!@;" />
  </connectionStrings>
  <appSettings>
    <add key="test_SE" value="Sales Engineer" />
    <add key="Kirsty Anderson" value="Sales Engineer" />
    <add key="Richard Kleiser" value="Sales Engineer" />
    <add key="Tomas Diaz" value="Sales Engineer" />
    <add key="Richard Price" value="Sales Engineer" />
    <add key="Andrew Clarke" value="Sales Engineer" />
    <add key="Juliana Paradello" value="Sales Engineer" />
    <add key="Trevor Harling" value="Sales Engineer" />
    <add key="Maria Kennedy" value="Sales Engineer" />
    <add key="test_SM" value="Sales Manager" />
    <add key="James Turner" value="Sales Manager" />
    <add key="Robert Hill" value="Sales Manager" />
    <add key="Stephen Davies" value="Sales Manager" />
    <add key="John Dunkley" value="Sales Manager" />
    <add key="Mark Potter" value="Sales Manager" />
    <add key="Keith Everett" value="Sales Manager" />
    <add key="James West" value="Sales Manager" />
    
    <add key="test_Cust1" value="Customer" />

    <add key="test_AM" value="Activity Manager" />
    <add key="Alan Fahy" value="Admin" />
    <add key="test_GM" value="GM" />
    <add key="Kerry Harris" value="GM" />
    <add key="Vernon Harvey" value="GM" />
    <add key="USD" value="3.67" />
    <add key="EUR" value="3.96" />
      <!--<add key="Emailammd" value="divya.chopra@wattswater.com" />-->
    <add key="EmailKirsty Anderson" value="kirsty.anderson@wattswater.com" />
    <add key="EmailTrevor Harling" value="trevor.harling@wattswater.com" />
    <add key="EmailTomas Diaz" value="tomas.diaz@wattswater.com" />
    <add key="EmailRichard Price" value="Richard.Price@wattswater.com" />
    <add key="EmailAndrew Clarke" value="andrew.clarke@wattswater.com" />
    <add key="EmailJuliana Paradello" value="juliana.paradello@wattswater.com" />
    <add key="EmailRichard Kleiser" value="richard.kleiser@wattswater.com" />
    <add key="EmailMaria Kennedy" value="maria.kennedy@wattswater.com" />
    <add key="Emailtest_SE" value="satish.reddy@wattswater.com" />
    <add key="EmailJames Turner" value="james.turner@wattswater.com" />
    <add key="EmailJames West" value="james.west@wattswater.com" />
    <add key="EmailJohn Dunkley" value="john.dunkley@wattswater.com" />
    <add key="EmailRobert Hill" value="robert.hill@wattswater.com" />
    <add key="EmailStephen Davies" value="Stephen.Davies@wattswater.com" />
    <add key="EmailMark Potter" value="mark.potter@wattswater.com" />
    <add key="EmailKeith Everett" value="Keith.Everett@wattswater.com" />
    <add key="Emailtest_AM" value="rpa@wattswater.com" />
    <add key="Emailtest_Admin" value="divya.chopra@wattswater.com" />
    <add key="EmailAlan Fahy" value="alan.fahy@wattswater.com" />
    <add key="Emailtest_GM" value="rpa@wattswater.com" />
    <add key="EmailKerry Harris" value="kerry.harris@wattswater.com" />
    <add key="EmailVernon Harvey" value="Vernon.Harvey@wattswater.com" />
    <add key="Emailtest_SM" value="divya.chopra@wattswater.com" />
    <add key="EmailAdmin" value="alan.fahy@wattswater.com" />
    <add key="GBPtoEUR" value="1.19" />
    
    <!--<add key="XXX" value="Strategy And BD Manager" />
    <add key="YYY" value="GM" />-->
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="MasterPage.aspx" />
      </files>
    </defaultDocument>
   
  </system.webServer>
  <system.web>
    <sessionState timeout="420"></sessionState>
    <compilation targetFramework="4.7.2" debug="true" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>

     
      <controls>
       <add tagPrefix="aspext" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit, Version=20.1.0.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
  </system.web>
  <runtime>
   <add assembly="AjaxControlToolkit, Version=20.1.0.0, Culture=neutral,PublicKeyToken=28f01b0e84b6d53e" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: C4B943A5-AC96-4470-8D62-2688987706D4-->